* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  margin: 0;
  padding: 0;
  color: #404042;
}

h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

h2 {
  font-size: 35px;
}

h3 { 
  font-size: 22px;
  margin: 10px 0 0 0;
}

p {
    color: 404042;
    font-size: 25px;
}

/* Main Header */

#logo {
  min-width: 0;
  width: 100%;
  max-width: 300px;
  height: auto;
}

#mainHeader{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  padding: 15px 0;
  position: sticky;
  top: 0;
}

.logoTitle {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.listMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  min-width: 0;
}

.listMenu a {
  font-size: 18px;
  padding: 15px;
  text-decoration: none;
  color: gray;
}

nav {
  display: flex;
  align-items: right;
  background-color: inherit;
}

/* About Me */

.aboutMeContainer {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.personDescImg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 25px;
}

.personDescImg .personImage {
  display: flex;
  min-width: 0;
  max-width: 450px;
  height:auto;
  border-radius: 10px;
  margin: 0 20px;
}

/* Footer */

#footer {
  background: rgb(31, 41, 55);
  padding: 40px 40px 10px 40px ;
  text-align: center;
  color: white;
}

.contactList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contactTitle {
  font-size:  20px;
  font-weight: bold;
}

.contactInfo {
  padding-top: 10px;
}

li.contactInfo a{
  color: white;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 25px;
}

.socials img {
  width: auto;
  height: 35px;
}

.copyright {
  color: lightgray;
  margin: 0;
  padding-top: 50px;
  text-align: center;
  font-size: 12px;
}