/* Fonts */

* {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

body {margin: 0;padding: 0;color: #404042;}

h1 {color: white;font-size: 45px;margin: 0;}

h2 {font-size: 35px;}

h3 {font-size: 22px;margin: 10px 0 0 0;}

p {color: white;font-size: 25px;}

/* Main Header */
#logo { min-width: 0; max-width: 300px; }
.logoTitle { display: flex; gap: 10px; flex-wrap: wrap; align-items: center; }
.listMenu { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; text-align: center; min-width: 0; }
.listMenu a { font-size: 18px; padding: 15px; text-decoration: none; color: gray; }
nav { display: flex; align-items: right; background-color: inherit; }
.header-right { margin-left: auto; }

@media (min-width:993px){.mainHeader{display: flex;flex-wrap: wrap;gap: 20px;align-items: center;background-color: #f1f1f1;padding:15px 0px 15px 10px;position: sticky;top: 0;}}
@media (max-width:992.99px){.mainHeader{display: flex;flex-wrap: wrap;gap: 20px;align-items: center;justify-content:center;background-color: #f1f1f1;padding:15px 0;position: sticky;top: 0;}}


/* Main Banner */

#banner {background-image: url(images/background.png);background-size: cover;background-position: center;padding: 175px 0;text-align: center;}

#banner p {margin-bottom: 40px;}

#btnBlue{padding: 10px 15px;border-radius: 5px;background: rgb(32, 32, 167);color: white;text-decoration: none;}

/* Project Cards */

.cardFilter{display: none;}
.container{padding:0.01em 16px;text-align: center;}
#cardContainer h2, #cardContainer{margin: 40px 0;text-align: center;}
.cards {display: flex; margin-top: 20px;justify-content: center;flex-wrap: wrap;gap: 25px;}
.cardWhite {max-width: 250px;background: white;box-shadow: 0 0 16px rgba(0, 0, 0,0.1);
        text-align: center;border-radius: 5px;padding: 25px;}
.cardWhite p {height: 250px;font-size: 20px;color: gray;}
.cardWhite img {max-width: 250px;height: 150px;border-radius: 5px;}

        /* Buttons */

button.discover a{text-decoration: none;color: white;font-size: 16px;}
button.discover {background-color: rgb(31, 41, 55);border: 1.5px solid black;border-radius: 5px;padding: 5px 15px;}
/* About Me */

#aboutMe{background-color: rgb(31, 41, 55);color: white;padding-bottom: 40px;}

.aboutMeContainer {display: flex;flex: auto;flex-direction: column;}

.aboutMeContainer > h2 {text-align: center;}

.personDescImg {display: flex;justify-content: center;align-items: center;flex-wrap: wrap-reverse;gap: 25px;}

.personDesc {display: flex;padding: 20px;border: 1px solid white;border-radius: 10px;width: 750px;margin: 0 20px;}

.personDescImg .personImage {display: flex;min-width: 0;max-width: 450px;height:auto;border-radius: 10px;margin: 0 20px;}

/* Footer */

#footer {background: rgb(31, 41, 55);padding: 0px 40px 10px 40px;text-align: center;color: white;}

.contactList {margin: 0;padding: 0;list-style-type: none;}

.contactTitle {font-size: 20px;font-weight: bold;}

.contactInfo {padding-top: 10px;}

li.contactInfo a{color: white;}

.socials {display: flex;justify-content: center;align-items: center;gap: 15px;padding-top: 25px;}

.socials img {width: auto;height: 35px;}

.copyright {color: lightgray;margin: 0;padding-top: 50px;text-align: center;font-size: 12px;}