html{background-color:var(--light-gray);}
body{margin: 0}

/* Fonts */
* {font-family: Georgia, 'Times New Roman', Times, serif;line-height: 1.5;}  
h1 { font-size: clamp(1.75rem, 2.5vw, 2.25rem); margin: 0; } /* ≈ 28px to 36px */
h2 { font-size: clamp(1.5rem, 2vw, 2rem); margin: 0; } /* ≈ 24px to 32px */
h3 { font-size: clamp(1.25rem, 1.75vw, 1.5rem); margin: 10px 0 0; } /* ≈ 20px to 24px */
h4 { font-size: clamp(1.1rem, 1.5vw, 1.4rem); margin: 10px 0 0; } /* ≈ 18px to 22px */
p { font-size: 1.125rem; } /* ≈ 18px */

:root{
--footer-bg: #1f2937;
--black:#000;
--white:#fff;
--gray:#555;
--light-gray:#f1f1f1;
--aboutme-color:#E5625E;
--projects-color:#4c956c;
}

/* Main Header */
.logoTitle,.logoTitle a,#logo{height: 67px; max-width: 300px; display: flex; gap: 10px; flex-wrap: wrap; align-items: center; }
.listMenu{ display: flex; justify-content: center; align-items: center; flex-wrap: wrap; text-align: center; min-width: 0; }
.listMenu a{ font-size: 18px; padding: 15px; text-decoration: none; color: var(--gray); }

#aboutmeNav:hover{border-radius: 25px;background-color:#E5625E;padding:5px 15px 5px 15px;text-decoration: none;color:var(--footer-bg);}
#projectsNav:hover{border-radius: 25px;background-color:#4c956c;padding:5px 15px 5px 15px;text-decoration: none;color:var(--footer-bg);}

nav{display:flex; background-color:inherit; }
.header-right{ margin-left: auto; }
.mobile-only{display: none;}

@media (min-width:993px){
        .mainHeader{display: flex;flex-wrap: wrap;gap: 20px;align-items: center;
                background-color: var(--light-gray);padding:15px 0px 15px 10px;position: sticky;top: 0;}}

@media (max-width:992.99px) {
        .mainHeader {display: flex;flex-wrap: wrap;gap: 20px;align-items: center;
                justify-content: center;background-color: var(--light-gray);padding: 15px 0;position: sticky;top: 0;}
        .header-right{display: none;}
        .mobile-only {display: flex;}}

@media (max-width:420.99px) {
        .mobile-only {display: flex;}
        .listMenu{padding: 0px 25px 0px 25px;}}

/* Section styles */
#section {position: relative;line-height: 0.5 !important;color: var(--black);background-color: var(--light-gray);margin-bottom: 25px;text-align: center;}
#section img {padding-top: 15px;margin: 0 15px;margin-bottom: -7px;}
.container {margin: 0 auto;position: relative;max-width: 1040px;width: 90%;}
.title {color: var(--footer-bg);padding-top: 15px;letter-spacing: 0.5rem;border-top: solid 2.5px var(--black);font-size: clamp(2.5rem, 5rem, 7rem);font-family: "Pridi", serif;font-weight: 400;}
.description {position: absolute;width: 300px;height: fit-content;}
#not-a-dev-desc,#i-make-stuff-desc {color: var(--footer-bg);font: normal normal 300 clamp(1.5rem, 3rem, 5rem) "Pridi";letter-spacing: -0.1rem;line-height: 1.0;max-height: 200px;}
#not-a-dev-desc {top: 150px;left: -50px;}    
#i-make-stuff-desc {top: 450px;right: -50px;}

/* CTA Buttons */
#myselfCTA {border-radius: 25px;background-color:#E5625E;padding:0 15px 5px 5px;}
#myselfCTA a {text-decoration: none;color:var(--footer-bg);}

#createCTA {border-radius: 25px;background-color:#4c956c;padding:0 5px 5px 5px;}
#createCTA a {text-decoration: none;color:var(--footer-bg);}


    /* Large Screens (Desktops) */
    @media (min-width: 1200px) {
        #section img {
            height: 700px;
        }
        .container {
            max-width: 1040px;
        }}
    
    /* Medium Screens (Laptops & Tablets) */
    @media (min-width: 993px) and (max-width: 1199.99px) {
        #section img {
            height: 700px;
        }
        .container {
            max-width: 850px;
        }}
    
    /* Tablets & Smaller Laptops */
    @media (max-width: 992.99px) {
        #section img {
            height: 500px;
        }
        .container {
            width: 90%;
            max-width: 850px;
        }
        #not-a-dev-desc,
        #i-make-stuff-desc {display: none;}}

    /* Mobile Screens */
    @media (max-width: 500px) {
        #section{width: auto;}
        #section img {height: 400px;}

        .container {max-width: fit-content;padding: 0 15px;}
        .title{font-size: 15vw;}
        #not-a-dev-desc,
        #i-make-stuff-desc {display: none;}}
        
    

/* Footer */
#footer {width:100%;bottom:0;background: var(--footer-bg);text-align: center;color: var(--white);}
.contactList {margin: 0;padding: 25px 0px 0px 0px;list-style-type: none;}
.contactTitle {font-size: 20px;font-weight: bold;}
.contactInfo {padding-top: 10px;}
li.contactInfo a{color: var(--white);}
.socials {display: flex;justify-content: center;align-items: center;gap: 15px;padding-top: 25px;}
.socials img {width: auto;height: 35px;}
.copyright {color: var(--light-gray);margin: 0;padding: 50px 0;text-align: center;font-size: 12px;}